.navbar_ .nav-collapse_ , .navbar_ collapse {
    overflow: visible;
  }
  body {
  	min-width: 1000px;
  }
 #panel .nav-collapse.collapse {
 	overflow: visible;
  }
#advanced span.trigger strong{filter:alpha(opacity=0);}
#advanced.closed span.trigger strong{filter:alpha(opacity=100);}

#advanced .dropdown-menu li li a {
  display: inline-block;
}

/*******/
	div.bg_center{
		background: url(../images/bg_center_content_980.gif) 50% 0 repeat-y;
	}
	div.bg_center_footer{
		background: url(../images/bg_center_footer_980.gif) 50% 0 repeat-y;
	}
	
	.nav-collapse_ .nav > li.menu_item_1,
	.nav-collapse_ .nav > li.menu_item_2,
	.nav-collapse_ .nav > li.menu_item_3,
	.nav-collapse_ .nav > li.menu_item_4,
	.nav-collapse_ .nav > li.menu_item_5,
	.nav-collapse_ .nav > li.menu_item_6
	{
		width:135px;
		background-position:20px 18px ;
	}
	.nav-collapse_ .nav > li.sfHover,
	.nav-collapse_ .nav > li.sfHover:hover,
	.nav-collapse_ .nav > li:hover,
	.nav-collapse_ .nav > li.active,
	.nav-collapse_ .nav > li.active:hover 
	{
	  background-color:#f55f3d;
	  background-position:20px -34px;
	}

	.nav-collapse_ .nav > li > a {
		width:80px;
		padding-left:50px
	}
	.navbar-form input {
		width:350px
	}
	.camera_caption p {
		padding-top:120px
	}
	.camera_caption p.second_slide {
		padding-top:45px
	}
	.camera_caption p.third_slide {
		padding-top:100px
	}
	div.carousel-box h4 {
		font-size:14px;
	}
	
	div.carousel-box ul li {
		width:212px;
		min-height:160px;
	}
	.contact-form input {
		width:310px
	}
	.btn.submit {
		margin-left:20px
	}

.top {
	//margin-bottom:-21px
}
.top p {
	//width:250px;
}
.top ul {
	//float:none
}
	//width:500px;
}

.partners a img {
	//max-width:none!important
}